<footer>
  <div class="inner-content grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-6 medium-3 cell">
        <%= render :partial =>'shared/components/molecules/link-list/index', locals: {title: t('view-specific.footer.column1.title'), list: [[t('view-specific.footer.column1.label1'),page_path(t('view-specific.footer.column1.link1')), '_self']]} %>
      </div>
      <div class="small-6 medium-3 cell">
        <%= render :partial =>'shared/components/molecules/link-list/index', locals: {title: t('view-specific.footer.column2.title'), list: [[t('view-specific.footer.column2.label1'),t('view-specific.footer.column2.link1'), '_self'], [t('view-specific.footer.column2.label2'),t('view-specific.footer.column2.link2'), '_self'], [t('view-specific.footer.column2.label3'),t('view-specific.footer.column2.link3'), '_self'], [t('view-specific.footer.column2.label4'),t('view-specific.footer.column2.link4'), '_self'], [t('view-specific.footer.column2.label5'),t('view-specific.footer.column2.link5'), '_self'], [t('view-specific.footer.column2.label6'),t('view-specific.footer.column2.link6'), '_self']]} %>
      </div>
      <div class="small-6 medium-3 cell">
        <%= render :partial =>'shared/components/molecules/link-list/index', locals: {title: t('view-specific.footer.column3.title'), list: [[t('view-specific.footer.column3.label1'),t('view-specific.footer.column3.link1'), '_self'], [t('view-specific.footer.column3.label2'),t('view-specific.footer.column3.link2'), '_self'], [t('view-specific.footer.column3.label3'),t('view-specific.footer.column3.link3'), '_self'], [t('view-specific.footer.column3.label4'),t('view-specific.footer.column3.link4'), '_self'], [t('view-specific.footer.column3.label5'),t('view-specific.footer.column3.link5'), '_self'], [t('view-specific.footer.column3.label6'),t('view-specific.footer.column3.link6'), '_self'], [t('view-specific.footer.column3.label7'),t('view-specific.footer.column3.link7'), '_self']]} %>
      </div>
      <div class="small-6 medium-3 cell">
        <%= render :partial =>'shared/components/molecules/contact-info/index' %>
      </div>
      <div class="small-12 show-for-small-only cell">
        <div class="box flex-container align-center">
          <a class="social_media" href="https://www.kb.dk/om-os/foelg-os" target="_blank"><%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'facebook', icon_size: 'icon-medium'}%></a>
          <a class="social_media" href="https://www.instagram.com/detkglbibliotek/" target="_blank"><%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'instagram', icon_size: 'icon-medium'}%></a>
          <a class="social_media" href="https://www.linkedin.com/company/det-kgl-bibliotek/" target="_blank"><%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'linkedin', icon_size: 'icon-medium'}%></a>
          <a class="social_media" href="https://www.kb.dk/om-os/foelg-os" target="_blank"><%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'twitter', icon_size: 'icon-medium'}%></a>
        </div>
      </div>
    </div>
  </div>
</footer>
