<div class="org-f2202134-9456-4e13-ad1e-56f87086ec03 <%= classes %>">
  <div class="inner-content grid-container">
    <div class="grid-x grid-margin-x grid-padding-y">
      <div class="cell show-for-large large-3 aside">
        <div id="sidebar" class="<%= sidebar_classes %>">
          <%= render 'facets' %>
        </div>
      </div>
      <div class="cell small-12 large-9">
        <%= render :partial =>'shared/components/molecules/advanced-search-form/index', locals: {close: false , action: search_action_url , form_method: 'get', input_placeholder: t('blacklight.search.form.search.placeholder'), dropdown1_placeholder: 'dropdown1_placeholder', classes: ''}%>
        <%= render :partial => 'shared/components/organisms/page-intro/index', locals: {heading: t("view-specific.collection_home.about.#{collection}.title"), description: '', classes: 'margin-top'} %>
        <div class="grid-x grid-margin-x grid-padding-y">
          <div class="small-12 medium-8 cell">
            <%= render :partial => 'collection_home', locals: {collection: collection} %>
          </div>
          <div class="small-12 medium-4 cell right-col">
            <% if collection == 'adl' %>
              <% subjects = ['author', 'period'] %>
              <% urls = ['/authors', '/periods'] %>
              <% subjects.each_with_index do |subject, index| %>
                <%= render :partial => 'shared/components/organisms/content-spot/index', locals: {header: t("view-specific.home.boxes.#{subject}.title"), description: t("view-specific.home.boxes.#{subject}.description"), image:"#{subject}.jpg", classes:'', url:urls[index]} %>
                <% end %>
            <% elsif collection == 'tfs' %>
            <aside style="text-align:right"><a href='/pages/tfs-bibliografi'>Læs detaljeret bibliografi</a></aside>
	    <% elsif collection == 'gv' %>

	    <!-- &facet.sort=index -->
	    
	    <aside style="text-align:right"><a href='/text?editorial=no&f[author_name_ssim][]=Grundtvig%2C+N.+F.+S.&f[subcollection_ssi][]=gv&match=one&q=&search_field=Alt'>Liste over værker</a></aside>

	    <aside  style="text-align:right"><a data-blacklight-modal="trigger" href="/text/facet/person_name_ssim?editorial=no&amp;f%5Bsubcollection_ssi%5D%5B%5D=gv&amp;match=one&amp;q=&amp;search_field=Alt">Personer</a></aside>

	    <aside  style="text-align:right"><a data-blacklight-modal="trigger" href="/text/facet/other_location_ssim?editorial=no&amp;f%5Bsubcollection_ssi%5D%5B%5D=gv&amp;match=one&amp;q=&amp;search_field=Alt">Steder</a></aside>

	    <aside  style="text-align:right">   <a data-blacklight-modal="trigger" href="/text/facet/textclass_genre_ssim?editorial=no&amp;f%5Bsubcollection_ssi%5D%5B%5D=gv&amp;match=one&amp;q=&amp;search_field=Alt">Tekstklassifikation</a></aside>
	    
	    <aside  style="text-align:right"><a data-blacklight-modal="trigger" href="/text/facet/textclass_keywords_ssim?editorial=no&amp;f%5Bsubcollection_ssi%5D%5B%5D=gv&amp;match=one&amp;q=&amp;search_field=Alt">Emneord</a></aside>

	    <aside  style="text-align:right"><a data-blacklight-modal="trigger" href="/text/facet/bible_ref_ssim?editorial=no&amp;f%5Bsubcollection_ssi%5D%5B%5D=gv&amp;match=one&amp;q=&amp;search_field=Alt">Bibelsted</a></aside>

	   
	    
	    <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
