<footer class="pageFooter">
  <div class="row divider-space">
    <div class="col-md-12">
      <div class="divider clearfix">
        <div class="left"></div>
        <div class="midt"></div>
        <div class="right"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div>
      <div class="text-center">
        <%= link_to t('view-specific.footer.about'), page_path('about-ADL'), class: '' %>
      </div>
      <div class="text-center footer">
        <span>&copy; </span>
        <a href="<%= t('view-specific.footer.first-link')%>" target="_blank"><%= t('view-specific.footer.first-link-label')%></a>
        <span> & </span>
        <a href="<%= t('view-specific.footer.second-link')%>" target="_blank"><%= t('view-specific.footer.second-link-label')%></a>
        <span> * </span>
        <%= link_to 'Cookie- og Privatlivspolitik', page_path('politik'), class: '' %>
        <span> * </span>
        <a href="<%= t('view-specific.footer.contact-us-link')%>"><%= t('view-specific.footer.contact-us-label')%></a>
      </div>
    </div>
  </div>
</footer>