<a id='<%= id %>' class="mol-bcf6e5e3-5149-4ea5-81c6-eac66f103950" href="<%= url %>" target="<%= target %>" title="<%= title %>">
  <%= render :partial =>  'shared/components/atoms/icon/index', locals: {icon_type: icon_type , icon_size: 'icon-medium'} %>
  <%= text %>
</a>
    