<div class="atom-e7937846-48b1-4797-9eb4-8cd4837fc421 <%= classes %>" id= <%= type %>>
    <input type="checkbox" <%= selected %> <%= disabled %> id="<%= id %>" name="<%= name %>" />
    <label for="<%= id %>"><%= label.html_safe %></label>
</div>