





<div class="row">
  <div class="homeSearch box-gradient fixed-top-second">
    <div class="search-bg">
      <div class="container">
        <div class="row text-center">
          <h3>
            <!--<%= t('view-specific.home.bluebar.description') %>-->
          </h3>
          <h3>
            <!--<a href="<%= t('view-specific.home.bluebar.link')%>", target="_blank">-->
              <!--<%= t('view-specific.home.bluebar.link-label') %>-->
            <!--</a>-->
          </h3>
          <%-#= render 'simple_search_form' -%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'first-group-of-boxes' %>
<%= render 'second-group-of-boxes' %>

<%= render :partial => 'catalog/politik_popup' %>




