<ul class="advanced-help">
  <li><%= t('general.tooltip.search.tooltip1') %></li>
  <li><%= t('general.tooltip.search.tooltip2') %>
    <ul>
      <li><%= t('general.tooltip.search.tooltip2-1') %></li>
      <li><%= t('general.tooltip.search.tooltip2-2') %></li>
      <li><%= t('general.tooltip.search.tooltip2-2') %></li>
    </ul>
  </li>
  <li><%= t('general.tooltip.search.tooltip3') %></li>
</ul>