<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>
<% title = truncate(document_show_html_title, :length => 50)
  items = [[t('view-specific.breadcrumb.text_service'),root_path],[link_back_to_catalog,''],[title,'']] %>
<% text_capabilities = get_text_capabilities (@document[:capabilities_ssi])
   text_capabilities_type = get_text_capabilities_type (@document) %>
<% unless text_capabilities_type == 'Hovedtekst'
     items[2][1] = text_capabilities['Hovedtekst']
     items.push ([text_capabilities_type, ''])
   end
%>
<%= render :partial => 'shared/components/organisms/bread-crumb/index', locals: {classes: '', items: items} %>
<%= render :partial =>'shared/components/atoms/divider/index', locals: {type: 'top-left theme-color'}%>
<%= render :partial => 'shared/components/organisms/top-container/index' %>

    <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!--
       // COinS, for Zotero among others.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
  -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>
