<% has_text = document['has_text_ssi'].present? && document['has_text_ssi'] == 'yes' %>
<% has_facs = document['has_facs_ssi'].present? && document['has_facs_ssi'] == 'yes' %>

<!--Retrieve the query-->
<% query_params = current_search_session.try(:query_params) %>
<% search_field = query_params.nil? ? "empty" : query_params[:search_field]  %>
<% doc_presenter = show_presenter(@document) %>
<%# If the search field is fritekst, get the last query and remove " %>
<%# If not, the the q parameter will be left empty and the render_snippet will not highlight the text %>
<% if ["Alt", "phrase"].include? search_field %>
    <% query_params = current_search_session.try(:query_params)
       query  = query_params[:q] if query_params.present?
       qmatch = query_params['match'] if query_params.present?
       query  = query.gsub!(/^\"|\"?$/, '').strip if query.present?
    %>
<% end %>

<% if ['author', 'period'].include? document['cat_ssi']
     buttons_list = [
         [t('general.landing_page.table_of_content'),'','','tableOfContent','data-toggle=modal data-target=#toc',true],
     ]
else
  text_capabilities_type = get_text_capabilities_type (@document)
  classes = ''
  unless text_capabilities_type == "Hovedtekst"
    classes = 'active'
  end
  buttons_list = [
            ['Info','toggleInfo','javascript:toggleInfoBox()','','',true],
            [t('general.landing_page.table_of_content'),'','','tableOfContent','data-toggle=modal data-target=#toc',true],
            ['Tekstmuligheder','toggleTextPossibilities','javascript:toggleExposable()',classes,'',true],
            [t('general.text_toolbar.highlight'),'toggleHighlight','javascript:toggleHighlight()','active','',query.present?],
            [t('general.text_toolbar.facsimile'),'toggleFacsimile','javascript:toggleFacsimile()','','',has_facs]
          ]
     end
%>


<script type="text/javascript">
// this variables are used in DkBreve.js
  first_page = '<%= @document['page_ssi'] %>';
  has_facs = <%= has_facs%>

  $(document).ready(function () {
      dkBreve.onDocumentReady();
  });
</script>
<div class="<%= container_classes %>">

<%# if current_search_session %>
  <div id="appliedParams" class="clearfix constraints-container row">

    <div class="cell col-sm-12 col-lg-8">
      <%= render :partial => 'shared/components/organisms/filter-btn-group/index', locals: {list: buttons_list} %>
    </div>

    <div class="cell col-sm-12 col-lg-4">
      <% if @search_context && current_search_session %>
          <%= render 'previous_next_doc'  %>
          <% # link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-secondary" -%>
          <% # link_back_to_catalog class: 'btn btn-secondary' -%>
      <% end %>
    </div>
  </div>

  <div id="text_possibilities" class="cell col-sm-12">
    <%= render :partial => 'text_possibilities_toolbar' %>
  </div>



<div class="document">
  <div class="row ">
    <div class="col-sm-12">
      <%= render 'applied_edition' %>
    </div>
  </div>



  <% if has_text && has_facs %>
      <div class="row lpContainer">
        <div class="col-sm-12 lpTextContainer"><%= render :partial => 'text'%></div>
        <div class="col-sm-6 lpFacsContainer hidden"><%= render :partial =>'facsimile' %></div>
      </div>
  <% elsif has_text %>
      <div class="row lpContainer">
        <div class="col-sm-12"><%= render 'text' %></div>
      </div>
  <% elsif has_facs %>
      <div class="row lpContainer">
        <div class="col-sm-12"><%= render 'facsimile' %></div>
      </div>
  <% end %>
</div>
</div>
