<% has_facs = @document['has_facs_ssi'].present? && @document['has_facs_ssi'] == 'yes' %>
<!--Retrieve the query-->
<% query_params = current_search_session.try(:query_params) %>
<% search_field = query_params.nil? ? "empty" : query_params[:search_field]  %>

<%# If the search field is fritekst, get the last query and remove " %>
<%# If not, the the q parameter will be left empty and the render_snippet will not highlight the text %>
<% if ['Alt', 'phrase','prose','verse','play', 'phrase'].include? search_field %>
    <% query_params = current_search_session.try(:query_params)
       query  = query_params[:q] if query_params.present?
       xmlid_ssi = query_params[:xmlid_ssi] if query_params.present?
       qmatch = query_params['match'] if query_params.present?
       query  = query.gsub!(/^\"|\"?$/, '').strip if query.present?
    %>
<% end %>

<article class="ocr">
  <%= render :partial => 'text_toolbar' %>

  <% if @document['cat_ssi'] == 'author' %>
      <% unless @document['author_name_ssi'].empty? %>
          <div class="dl-horizontal  dl-invert pull-left">
            <strong><span class="blacklight-author_name_tesim text-left-important"><%= t('general.author.author_potrait_written_by') %> </span></strong>
            <span class="blacklight-author_name_tesim">&nbsp;<%= @document['author_name_ssi'] %></span>
          </div>
      <% end %>
      <div class="pull-right thumbnail">
        <%= image_tag get_author_image(@document.id) %>
      </div>
      <div><br/><br/><br/></div>
  <% end %>

  <%= FileServer.render_snippet(@document['id'],
                                {q: query, match: qmatch, op: "render",xmlid: @document['xmlid_ssi']}) %>
  <span id="scrollTop" class="jf-icon box rounded-borders jf-icon-pil-o scrollup hidden-print show-to-top">
  <%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'arrow_upward', icon_size: 'icon-medium'}%>
</span>
  <%= render :partial => 'comment' %>
</article>

<%= render :partial => 'comment' %>
<%= render :partial => 'info' %>

