<span class="textPossibilitiesToolbar">
  <fieldset>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<span>&#9986;</span> Uddrag', selected: '', disabled: '', id: 'Show_only_this_part', name: 'Show_only_this_part', type:'quote', classes: 'hidden'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<span>&#9658;</span> Tekstkommentarer', selected: '', disabled: '', id: 'Show_comments', name: 'Show_comments', type: 'comment', classes: 'hidden'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="icon translate">&nbsp;</i>Oversættelse', selected: '', disabled: '', id: 'Show_translations', name: 'Show_translations', type:'translation', classes: 'hidden'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<i class="icon filter_vintage">&nbsp;</i>Modernisering', selected: '', disabled: '', id: 'Show_modernizations', name: 'Show_modernizations', type:'modernized', classes: 'hidden'} %>
    <%= render :partial => 'shared/components/atoms/checkbox/index.html.erb', locals: {label: '<span>&#9432;</span> Tekstkritisk apparat', selected: '', disabled: '', id: 'Show_infos', name: 'Show_infos', type:'info', classes: 'hidden'} %>

  </fieldset>
</span>