<div class="textPossibilitiesToolbar hidden">

  <!-- <%= @document[:id] %> -->
  <% if @document[:capabilities_ssi] %>
      <% if @document[:capabilities_ssi].match(/^.+$/) %>
          <%= @document[:capabilities_ssi].html_safe %>
      <% end %>
  <% end %>
  <% if @document[:id].match(/sks-/) %>
      <%
        txt_id = @document['id'].gsub(/(txt)|(txr)|(kom)/, 'txt-root').gsub(/-root.*$/, '-root')
        txr_id = @document['id'].gsub(/(txt)|(txr)|(kom)/, 'txr-root').gsub(/-root.*$/, '-root')
        kom_id = @document['id'].gsub(/(txt)|(txr)|(kom)/, 'kom-root').gsub(/-root.*$/, '-root')
      %>

      <%= link_to("/text/" + txt_id) do %>
          <i class="fa fa-file-text" aria-hidden="true"></i>
          <%= t('general.landing_page.text') %>
      <% end %>
      <%= link_to ("/text/" + kom_id) do %>
          <i class="fa fa-comment" aria-hidden="true"></i>
          <%= t('general.landing_page.Comments') %>
      <% end %>
      <%= link_to ("/text/" + txr_id) do %>
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          <%= t('general.landing_page.text_statements') %>
      <% end %>

  <% end %>

</div>