<% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
<% else %>
  <%= render :partial => 'shared/components/organisms/bread-crumb/index', locals: {classes: '', items: [['Textportal',root_path]]} %>
  <%= render :partial =>'shared/components/atoms/divider/index', locals: {type: 'top-left theme-color'}%>
  <%= render :partial => 'shared/components/organisms/top-container/aside' %>
  <%= render :partial => 'shared/components/organisms/layout/2-column-aside', locals: {classes:'padding-top'} %>

    <!--<div id="content" class="content-not-main">-->
          <!--<div class="container">-->
            <!--<div class="row">-->

              <!--<div class="col-md-9 col-sm-8">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
<% end %>

