<div class="mol-d4e97117-4bf7-4516-92fa-54bb0abc40fb show-for-medium">
  <input class="hidden" name="<%= name %>" type="text" placeholder="<%= placeholder %>" value="<%= value %>">
  <input type="text" placeholder="<%= placeholder %>" value="<%= text %>">
  <span></span>
  <%= render :partial =>'shared/components/atoms/drop-down-content/index', locals: {datalist: datalist}%>
</div>
