<% options = search_fields %>
<div class="mol-368fb22a-f8c3-45d3-9a05-ed68933d0d2a">
    <form action="<%= defined?(action) ? action : "" %>" accept-charset="UTF-8" method="<%= defined?(form_method) ? form_method : "get" %>" class="form-wrapper search-area <%= classes %>">
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
      <%= render :partial =>'shared/components/atoms/input/index', locals: {name: 'q', value: params[:q] , id: 'q', type: 'text', placeholder: input_placeholder}%>
      <%= render :partial =>'shared/components/molecules/drop-down-input/index', locals: {name: 'match', id: 'match', type: 'text', placeholder: dropdown1_placeholder,value:'one', text: t('general.search.form.match.one'), datalist: [[t('general.search.form.match.one'),'one'],[t('general.search.form.match.all'),'all'],[t('general.search.form.match.phrase'),'phrase']]}%>
      <%= render :partial =>'shared/components/molecules/drop-down-input/index', locals: {name: :search_field, id: :search_field, type: 'text', placeholder: dropdown1_placeholder,value:options[1][1], text: options[1][0], datalist: options}%>
      <button type="submit" alt="search">
        <%= render :partial =>'shared/components/atoms/icon/index', locals: {icon_type: 'search', icon_size: 'icon-medium'}%>
      </button>
    </form>
  <a href="#" data-toggle="modal" data-target="#searchTips">Søgetips</a>
</div>
