<!DOCTYPE html>
<html>
  <head>
    <title>Det Kgl. Biblioteks tekstportal</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>

    <%= javascript_include_tag 'application_top' %>

    <!-- Add Google Analytics -->
    <% if Rails.env.production?  && (root_url.include? "adl.dk") %>
        <%= render :partial => 'shared/analytics' %>
    <% end %>
  </head>

  <body class="theme-blue">
  <%= render :partial => 'shared/header_navbar' %>
  <%= render :partial => 'shared/components/atoms/main/index', locals: {content: yield} %>
  <%= render :partial => 'shared/footer' %>
  </body>

  <%= javascript_include_tag 'application_bottom' %>
</html>
